# Big Data / Big Data for Engineers FS 2022 - Cheat Sheet

During the exam, you will be required to write SQL, Spark RDD, Spark SQL and JSONiq queries using a Jupyter notebook.

This notebook is designed to help you start writing your queries by providing you an environment with the datasets loaded. The notebook also contains sample queries that you can use to recap the syntax of each query language. Additionally, there are examples of acquiring function documentation using Python's ``help``.

Feel free to extend this notebook and use it for preparing the answers you need for the exam.  
The content of this notebook will not be considered for grading.

## SQL

There is a local PostgreSQL 13 installation with a dataset loaded into a database. Run the next cell to connect to it.

In [ ]:
%load_ext sql
%sql postgresql://user:pass@localhost:5432/examdb

To print the tables currently loaded in the database run:

In [ ]:
%%sql
SELECT * 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_CATALOG = 'examdb' and TABLE_SCHEMA = 'public';

To print the attributes of a particular table ('artists', for example) run:

In [ ]:
%%sql
SELECT column_name, data_type, character_maximum_length
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name = 'artists';

A simple query against the given database could look like this:

In [ ]:
%%sql
SELECT * FROM artists LIMIT 5;

A more complex query against the given database could look like this:

In [ ]:
%%sql
SELECT artists.artist_id, artists.name, COUNT(*) AS num_releases
FROM artists
JOIN released_by USING(artist_id)
JOIN releases USING(release_id)
GROUP BY artists.artist_id, artists.name
ORDER BY num_releases DESC
LIMIT 3;

##### Note: the examples provided above do not contain all the query operations you might need during the exam.

Now it's your turn: you can write all your queries in new cells below. Feel free to add as many cells as needed.

## Spark

To answer Spark-related questions, you are asked to write Spark queries on a provided `movies` dataset.

To set up Spark, run the following cell:

In [ ]:
import json

import findspark
findspark.init()

from pyspark import SparkContext

spark = SparkContext("local", "exam")

##### For more information on Spark (e.g. for creation functions), use ``help``:

In [ ]:
help(spark.textFile)

### Movies Dataset

We will use a dataset that contains an array of movies with respective genres, actors, etc. Each movie has all of the following attributes:

- `name`: string containing the name of the movie.
- `genres`: string containing comma-delimited ganres of the movie.
- `year`: integer year of the movie
- `votes`: integer with number of votes of the movie
- `rating`: string containing the rating of the movie
- `actors`: an array representing a set of actors, where each element is a dictionary with the following key-value pairs:
    - `name`: string with the name of the actor
    - `birth`: integer with year of birth of the actor
    - `death`: integer with the year of death of the actor

You can use the RDD interface or the DataFrame interface below.

### RDD interface

Run the code below to import the JSON lines file as an RDD:

In [ ]:
movies = spark.textFile("movies.jsonl").map(json.loads)

Inspect the dataset by printing the first row:

In [ ]:
movies.take(1)

Below are some examples of Spark queries on the Movies dataset.

In [ ]:
movies.map(lambda s: s["name"]).take(3)

In [ ]:
movies.filter(lambda s: s["name"][0] == "K").take(1)

In [ ]:
movies.flatMap(lambda s: s["actors"]).take(3)

In [ ]:
movies.count()

##### For more information on RDD transformers (e.g. ``filter``), use ``help``:

In [ ]:
help(movies.filter)

Now it's your turn: you can write all your queries in new cells below. Feel free to add as many cells as needed.

### Orders Dataset

We will use a dataset that contains an array of orders with respective customer, order date, purchased items, etc. Each order has all of the following attributes:

- `order_id`: integer with number of votes of the movie
- `date`: string containing the order date
- `customer`:
    - `first_name`: string containing the first name of a customer
    - `last_name`: string containing the last name of a customer
- `items`: array of ordered items, each of which is a dictionary with the following key-value pairs:
    - `product`: string with the product name
    - `price`: floating point number with the price of the item
    - `quantity`: an integer with the number of times this product is ordered

### DataFrame interface

Run the code below to create a Spark DataFrame:

In [ ]:
%load_ext sparksql_magic
from pyspark.sql import SQLContext

spark_sql = SQLContext(spark)
orders_df = spark_sql.read.json('orders.jsonl')
orders_df.createOrReplaceTempView("orders")

Print the type and schema:

In [ ]:
orders_df.printSchema()

Print one row using spark dataframe.

In [ ]:
%%sparksql
SELECT *
FROM orders
LIMIT 1

In [ ]:
%%sparksql
SELECT *
FROM (
    SELECT order_id, date, customer.first_name, customer.last_name, size(items) as items_count, array_max(items.price) as max_price
    FROM orders
)
WHERE items_count > 4
ORDER BY max_price
LIMIT 5

##### Note: the examples provided above do not contain all the query operations you might need during the exam. For more information on DF transformers (e.g. ``filter``), use ``help``:

In [ ]:
help(orders_df.filter)

Now it's your turn: you can write all your queries in new cells below. Feel free to add as many cells as needed.

## JSONiq (Rumble)

Run the two cells below to connect to your Rumble server.

In [ ]:
%load_ext rumbledb
%env RUMBLEDB_SERVER=http://localhost:9090/jsoniq

GitHub Archive is a project to record the public GitHub timeline, archive it, and make it accessible for further analysis. For the following exam questions, we will be working the `git-archive.json` dataset that provides a subset of all records of the public GitHub timeline.

### GitHub Dataset

This dataset contains an array of events from a Git repository server. Among other, each event contains the following attributes:

- `id`: unique integer identifier of the event
- `event`: string name of the event type (e.g. "PushEvent", "PullRequestEvent", "IssuesEvent")
- `actor`: key-value map identifying an actor issuing the event
- `repo`: key-value map identifying the repository related to the event
- `payload`: key-value map with different fields for each event type
- `public` : 
- `created_at`: string with the data of the event in the format YYYY-MM-DDTHH:MM:SSZ, where T and Z are separators (e.g. 2018-01-01T15:00:00Z)

PushEvents additionally have information about the commit. <br>
An example event can be seen below: <br>
{<br>
&emsp;"id":"7045118886", <br>
&emsp;"event":"PushEvent", <br>
&emsp;"actor":{ <br>
&emsp;&emsp; "id":20090775,<br>
&emsp;&emsp; "login":"lainrose",<br>
&emsp;&emsp; ...<br>
&emsp;},<br>
&emsp;"repo":{<br>
&emsp;&emsp; "id":115387592,<br>
&emsp;&emsp; "name":"lainrose/Python-Grammar",<br>
&emsp;&emsp; "url":"https://api.github.com/repos/lainrose/Python-Grammar"<br>
&emsp;},<br>
&emsp;"payload":{<br>
&emsp;&emsp; "push_id":2226161589,<br>
&emsp;&emsp; "commits":[<br>
&emsp;&emsp;&emsp;&nbsp;&nbsp;{<br>
&emsp;&emsp;&emsp;&emsp;"sha":"27a01fbdbec8e26daa40fc8faa052dd0be23836a",<br>
&emsp;&emsp;&emsp;&emsp;"author":{<br>
&emsp;&emsp;&emsp;&emsp;&emsp;"name":"lainrose",<br>
&emsp;&emsp;&emsp;&emsp;&emsp;"email":"fb4676bf30682e2ece361fd363a69ad11779c42e@Naver.com"<br>
&emsp;&emsp;&emsp;&emsp;},<br>
&emsp;&emsp;&emsp;&emsp;"message":"Update Study Contents",<br>
&emsp;&emsp;&emsp;&emsp;...<br>
&emsp;&emsp;&emsp;&nbsp;&nbsp;}<br>
&emsp;&emsp; ]<br>
&emsp;},<br>
&emsp;"public":true,<br>
&emsp;"created_at":"2018-01-01T15:00:00Z"<br>
}                                       <br>

In order to answer the questions, you may need to explore the structure of the dataset yourself in more depth.

## General Queries

To print the dataset, use *json-file()*.

In [ ]:
%%rumble
json-file("git-archive.json", 10)[1]

To see the fields, use the *keys()* function.

In [ ]:
%%rumble
keys(json-file("git-archive.json", 10))

You can display the first objects with the *count* clause.

In [ ]:
%%rumble
for $e in json-file("git-archive.json", 10)
count $c
where $c le 10
return $e

You can use . and [] for navigation (in parallel).

In [ ]:
%%rumble
distinct-values(json-file("git-archive.json", 10).payload.commits[].author.email)

In [ ]:
%%rumble
json-file("git-archive.json", 10).payload.commits[[1]].author.name

A more complex query with FLWOR:

In [ ]:
%%rumble

for $e in json-file("git-archive.json", 10)
let $actor := $e.actor.id
group by $actor
let $nb_commits := count($e.payload.commits[])
order by $nb_commits descending
count $n
where $n le 15
return {
    "actor" : $actor,
    "number of commits" : $nb_commits,
    "first commit email" : $e[1].payload.commits[[1]].author.email
}

##### Note: the examples provided above do not contain all the query operations you might need during the exam.

Now it's your turn: you can write all your queries in new cells below. Feel free to add as many cells as needed.